.security-hero-section{
    padding: 198px 0px 150px 0px;
}

.security-hero-section .container{
    background: #1C1C1C;
    overflow: hidden;
    padding: 50px;
    border-radius: 20px;
    
    height: 816px;
    z-index: 0 ;
}


.security-hero-section .polka-dots{
    width: 505px;
    height: 480px;
    transform: rotate(90deg);
}

.security-hero-section .container .content-holder{
    border-radius: 16px;
    overflow: hidden;
    z-index: 10 ;
    width: 100%;
    height: 100%;
}

.security-hero-section .container .content-holder .left{
    padding: 80px;
    border-bottom-right-radius: 80px;
    gap: 23px;
    width: 838px;
    background: #1A1A1A;
    left: 0px;
    z-index: 100 !important;
    height: 100%;
}

.security-hero-section .container .content-holder img{
    right: 0px;
    height: 100%;
    width: 921px;
   filter: grayscale(100%);
    
}

.ways-of-protection-section .container{
    gap: 118px;
}

.ways-of-protection-section .top{
    gap: 14px;
}

.ways-of-protection-section .content-holder{
    padding: 82px 94px !important;

}

.effect-box{
    background: linear-gradient(to right, #1d1e19,#1C1C1C);
}

.effect-box img{
    opacity: 30%;
}

.effect-box:first-of-type{
    height: 631.1144409179688px;
    width: 100%;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    overflow: hidden;

}

.ways-grid .item{
background: linear-gradient(to right, #1d1e19,#1C1C1C);
padding: 50px;
border-radius: 20px;
border: 1px solid ;

}





@media (max-width: 1250px){


.security-hero-section{
    padding: 138px 0px 80px 0px;
}

.security-hero-section .container{
    padding: 14px;
    height: 605px;
}


.security-hero-section .polka-dots{
    width: 199px;
    height: 189px;
}

.security-hero-section .container .content-holder{
    width: 100%;
    height: 100%;
}

.security-hero-section .container .content-holder .left{
    padding: 24px;
    right: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    gap: 14px;
    width: 100%;
    bottom: 0px;
    height: 302px;
}

.security-hero-section .container .content-holder img{
    top: 0px;

    right: null;
    height: 316px;
    width: 100%;
    
}


.effect-box:first-of-type{
    height: 631.1144409179688px;
    width: 100%;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    overflow: hidden;
    display: none;

}

.ways-grid .item{
background: linear-gradient(to right, #1d1e19,#1C1C1C);
padding: 24px;
border-radius: 20px;
border: 1px solid ;

}

.ways-of-protection-section .content-holder{
    padding: 0px 0px !important;

}

.ways-of-protection-section .container{
    gap: 40px;
}





}