body{
    padding-inline: 20px;
}

.login-section {
    padding-top: 190px;
    padding-bottom: 150px;
    /* background-color: #1C1C1C; solid gray/dark gray */
}

.login-content-holder {
    max-width: 1326px;
    width: 100%;
    margin-inline: auto;
    position: relative;
    padding: 100px 150px;
    border-radius: 20px;
    /* background-color: #1C1C1C; keep same gray */
    overflow: hidden !important;
    border: 1px solid #262626;
}

/* texture image overlay */
.login-content-holder::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/loginbg.webp');
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Blend mode for subtle texture */
    mix-blend-mode: luminosity; /* try overlay, soft-light, or lighten */
    opacity: 0.07; /* very subtle texture */
}

.abstract-design{
    width: 342px;
    height: 325px;
    transform: rotate(90deg);
}

.login-content-holder h2{
    font-size: 48px;
    color: #CAFF33;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 500;

}

.login-content-holder .greet{
        font-weight: 300;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-top: 20px;
        color: #BFBFBF;
}


.input-fields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 80px;
}

.input-fields span{
    max-width: 498px !important;
    width: 100%;
    border-radius: 88px;
    border: 1px solid #262626;
    padding: 24px;
    background: #1A1A1A;
}


.input-fields input{
    background: transparent;
    all: unset;
    color: white;
}



.auth-ctas{
    margin-top: 40px;
    gap: 24px;max-width: 518px;
    width: 100% !important;
}
.auth-ctas button{
    padding: 18px 20px;
    border-radius: 63px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
}

.auth-ctas button:first-of-type{
    background: #CAFF33;
    color:#262626 ;
}

.auth-ctas button:last-of-type{
    background: #262626;
    border: 1px solid #333333;
    color: white;
}


.continue-with{
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    font-weight: 400;
    color: #B3B3B3;
    margin-top: 24px;
    
}

.continue-with .hr{
    width: 165px;
    height: 1px;
    background: #B3B3B3;
}

.icon-back {
  border-radius: 70px;
  height: 98px !important;
  width: 98px !important;
  background: linear-gradient(to bottom, #21231a, #1a1a19);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-back span {
  padding: 20px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #262b1b, #1b1c19);
}

@media (max-width: 1250px){

    .login-section {
    padding-top: 140px;
    padding-bottom: 80px;
    /* background-color: #1C1C1C; solid gray/dark gray */
}

.login-content-holder {
    max-width: 100%;
    width: 100%;
    padding: 30px ;
    border-radius: 16px;
  
}

/* texture image overlay */
.login-content-holder::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/loginbg.webp');
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Blend mode for subtle texture */
    mix-blend-mode: luminosity; /* try overlay, soft-light, or lighten */
    opacity: 0.07; /* very subtle texture */
}

.abstract-design{
    width: 167px;
    height: 159px;
}

.login-content-holder h2{
    font-size: 28px;
    

}

.login-content-holder .greet{
        font-size: 14px;
        margin-top: 10px;
       
}


.input-fields{
    grid-template-columns: 1fr ;
    gap: 20px;
    margin-top: 40px;
}

.input-fields span{
    max-width: 100% !important;
    width: 100%;
    padding: 16px;
}

.input-fields span:last-of-type{
    justify-content: space-between;
}





.auth-ctas{
    margin-top: 24px;
    gap: 24px;
    max-width: 100%;
    width: 100% !important;
}
.auth-ctas button{
    padding: 14px 24px;
    border-radius: 63px;
    font-size: 14px;
}



.continue-with{
    font-size: 14px;
    
    
}

.continue-with .hr{
    width: 76px;
   
}

}