@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: "Lexend", sans-serif;
}

body {
  background-color: #191919;
}

.container {
  max-width: 1596px;
  width: 100%;
}

.h-fit {
  height: fit-content;
}

/* ================= NAVBAR ================= */

.custom-navbar {
  background-color: #1c1c1c !important;
  border: 1px solid #262626 !important;
}

.custom-nav-item {
  padding: 12px 24px;
  border-radius: 82px;
}

.custom-nav-item:hover {
  background-color: #262626;
}

.custom-nav-link {
  text-decoration: none;
}

.navbar-brand img {
  width: 156px;
  height: 40px;
}

.auth-btn:first-of-type {
  border: none !important;
  color: white;
  padding: 14px 30px;
}
.auth-btn:first-of-type:hover {
  background: #caff33;
  color: black;
}

.auth-btn:last-of-type {
  background-color: #caff33;
  padding: 14px 30px;
  border: none;
  color: black;
}

.custom-toggler {
  background-color: #caff33;
  border: none !important;
  outline: none !important;
}

/* ================= HERO SECTION ================= */

.hero-section {
  padding-block: 100px;
}

.hero-section .container {
  gap: 120px;
}

.hero-section .left {
  max-width: 825px;
}

.no-req-pill {
  padding: 10px;
  background-color: #262626;
  width: fit-content;
  font-size: 18px;
}

.hero-heading {
  font-size: 48px;
  font-weight: 500;
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 14px;
}

.hero-heading span {
  color: #caff33;
}

.hero-detail {
  font-size: 18px;
  line-height: 150%;
}

/* ================= RIGHT CARD ================= */

.hero-section .right {
  position: relative;
  max-width: 515px;
  width: 100%;
  padding: 35px;
  border: 1px solid #252525;
  border-radius: 10px;
  overflow: hidden; /* IMPORTANT */
}

.hero-section .right h3 {
  color: white;
  font-weight: 500;
  font-size: 17px;
}

/* ================= TRANSACTIONS ================= */

.transaction {
  left: 0;
  right: 0;
  margin: auto;
  padding: 14px 21px;
  background: #1c1c1c;
  border: 1px solid rgb(41, 40, 40);
  border-radius: 10px;
  display: flex;
}

/* FIRST (MAIN) */
.transaction:first-of-type {
  top: 70px;
  width: 90%;
  z-index: 50;
}

/* SECOND */
.transaction:nth-of-type(2) {
  top: 125px;
  width: 80%;
  z-index: 10;
  opacity: 0.5;
}

/* THIRD */
.transaction:nth-of-type(3) {
  top: 180px;
  width: 70%;
  z-index: 5;
  opacity: 0.25;
}

.transaction .pricing {
  font-size: 21px;
  font-weight: 500;
}

.transaction figure {
  background-color: #caff33;
  width: fit-content;
  height: fit-content;
}

/* spacing after stacked cards */
.hero-section .right h3:nth-of-type(2) {
  margin-top: 240px;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 995px) {
  .navbar-brand img {
    width: 101px;
    height: 26px;
  }

  .no-req-pill {
    font-size: 12px;
  }

  .hero-section .left {
    max-width: 100%;
    text-align: center;
  }

  .hero-heading {
    font-size: 28px;
  }

  .hero-detail {
    font-size: 14px;
  }

  .hero-section .right {
    max-width: 100%;
    margin-top: 40px;
  }

  .transaction:first-of-type {
    width: 95%;
  }

  .transaction:nth-of-type(2) {
    width: 85%;
  }

  .transaction:nth-of-type(3) {
    width: 75%;
  }
}
